/* Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root,
body {
  font-family: 'Atkinson Hyperlegible Next', sans-serif;
  font-size: var(--text-base);
  line-height: 1.5;
  color: #000;
  background-color: var(--surface);
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
  line-height: 1.25;
}

h1 {
  font-size: var(--text-h1);
}

h2 {
  font-size: var(--text-h2);
}

h3 {
  font-size: var(--text-h3);
}

h4 {
  font-size: var(--text-h4);
}

a {
  color: inherit;
  text-decoration: underline;
}

blockquote {
  margin: 0;
}