/* Print Styles */
@media print {

  * {
    background: transparent !important;
  }

  base, basefont, datalist, head, link, meta, noembed, noframes, param, rp, script, style, template, title {
    display: none;
  }

  a::after,
  nav,
  button .print-button,
  .action-buttons,
  .template-selector,
  .no-print {
    display: none !important;
  }

  .resume-container {
    max-width: 100% !important;
    min-height: 0 !important;
    margin: 0 !important;
    padding: 2px !important;
    box-shadow: none !important;
    border-radius: 0 !important;
  }

  /* .projects-section, */
  /* .education-section, */
  /* .work-section, */
  /* .volunteer-section, */
  /* .awards-section, */
  /* .publications-section, */
  /* .references-section, */
  /* .languages-section, */
  .skills-section,
  li,
  .section-item:not(:first-child) {
    page-break-inside: avoid;
  }

  .profile-photo {
    width: 80px;
    height: 80px;
  }

  /* .work-item,
  .education-item,
  .project-item {
    page-break-inside: avoid;
  } */

  /* .section-title {
    page-break-after: avoid;
  } */
}

@page {
  size: A4;
  margin: 0.75in;
}