/* Sections */
.resume-section {
  margin-bottom: var(--space-8);
}

h3 {
  font-weight: var(--font-weight-normal);
  // text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: var(--text-base);
  padding-bottom: var(--space-1);
  border-bottom: var(--border-width) solid var(--border);
}

.section-item {
  margin-bottom: var(--space-6);
}

.section:last-child,
.section-item:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.item-header {
  line-height: 1.2;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: var(--text-base);
}

.item-header-right {
  text-align: right;
  align-items: flex-end;
}

.item-header-left,
.item-header-right {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: var(--space-1);
}

.item-title {
  font-size: var(--text-base);
}

.item-subtitle {
  font-weight: var(--font-weight-normal);
}

.item-dates,
.item-other-label,
.item-header-right {
  font-style: italic;
  font-weight: var(--font-weight-normal);
  color: var(--text-secondary);
}

.item-summary {
  margin-bottom: var(--text-base);
}

.item-list {
  padding-left: 1em;
}

.item-list li {
  margin-bottom: var(--space-1);
}

.item-list li::marker {
  color: var(--primary-color);
}